<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xfz.passwordbox">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name="cn.xfz.passwordbox.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/json" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.xfz.passwordbox.MainActivity"
            android:label="@string/app_name2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName="cn.xfz.passwordbox.MainActivity"
            android:label="@string/action_about">
        </activity>
        <activity android:name="cn.xfz.passwordbox.InitActivity" />
        <activity
            android:name="cn.xfz.passwordbox.DetailActivity"
            android:parentActivityName="cn.xfz.passwordbox.MainActivity"
            android:label="@string/app_name2"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.xfz.passwordbox.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
